<h5>Admin Page</h5>


<button class="btn btn-primary"> <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="CategoryList">Category List</a></button>

<button class="btn btn-primary"> <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AdminProductPage">Product Index</a></button>

<button class="btn btn-primary"> <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserList">User List</a></button>